<div class="row match-height">
    <div class="col-12 mt-10">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{#if edit}}Edit{{else}}Add {{/if}} System Email</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form" method="post" action="/system-email/add_action" data-parsley-validate>
                        <input type="hidden" name="iSystemEmailId" value="{{systemEmailData._id}}">


                        <div class="row">
                            <div class="col-md-6  col-12">
                                <div class="form-group">
                                    <label for="first-name-column">Email Code</label>
                                    <input type="text" id="vEmailCode" class="form-control"
                                        placeholder="Enter Email Code" value="{{ systemEmailData.vEmailCode }}"
                                        name="vEmailCode" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="last-name-column">Email Title</label>
                                    <input type="text" id="vEmailTitle" class="form-control"
                                        value="{{ systemEmailData.vEmailTitle }}" placeholder="Enter Email Title"
                                        name="vEmailTitle" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">From Name</label>
                                    <input type="test" id="vFromName" class="form-control" placeholder="Enter From Name"
                                        name="vFromName" value="{{ systemEmailData.vFromName }}"
                                        data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">From Email</label>
                                    <input type="email" id="vFromEmail" class="form-control"
                                        placeholder="Enter From Email" name="vFromEmail"
                                        value="{{ systemEmailData.vFromEmail }}" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">Cc Email</label>
                                    <input type="email" id="vCcEmail" class="form-control" placeholder="Enter Cc Email"
                                        value="{{ systemEmailData.vCcEmail }}" name="vCcEmail"
                                        data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">Bcc Email</label>
                                    <input type="email" id="vBccEmail" class="form-control" placeholder="Enter Bcc Email"
                                        value="{{ systemEmailData.vBccEmail }}" name="vBccEmail"
                                        data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">Email Subject</label>
                                    <input type="test" id="vEmailSubject" class="form-control"
                                        placeholder="Enter Email Subject" value="{{ systemEmailData.vEmailSubject }} "
                                        name="vEmailSubject" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="confirmPassword">Internal Message</label>
                                    <input type="text" id="tInternalMessage" class="form-control"
                                        value="{{ systemEmailData.tInternalMessage }}" name="tInternalMessage"
                                        placeholder="Enter Internal Message" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-3  mt-3 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Status</label>
                                    <select class="form-select form-select mb-3" id="eStatus" name="eStatus"
                                        aria-label=".form-select-lg example">
                                        <option value="Active" {{#if_equal systemEmailData.eStatus "Active" }} selected
                                            {{/if_equal}}>Active</option>
                                        <option value="Inactive" {{#if_equal systemEmailData.eStatus "Inactive" }}
                                            selected {{/if_equal}}>Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="ivu-form-item-label">Email Message</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <textarea placeholder="Enter Email Message"
                                                class="ivu-input ivu-input-default" data-parsley-required="true"
                                                name="tEmailMessage"
                                                id="tEmailMessage">{{ systemEmailData.tEmailMessage }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary me-3 mb-1">Submit</button>
                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    tinymce.init({ selector: '#default' });
    tinymce.init({ selector: '#dark', toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code', plugins: 'code' });
    tinymce.init({
        selector: '#tEmailMessage',
        height: 500,
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });
</script>