<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

<div class="row match-height">
    <div class="col-12 mt-10">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Create Election</h4>
            </div>
            <div class="card-content">
                <div class="card-body">


                    <section class="mt-4">
                        <div class="container">
                            <form class="card">
                                <div class="card-header">
                                    <nav class="nav nav-pills nav-fill">
                                        <a class="nav-link tab-pills " data-id="0" href="#">Details</a>
                                        <a class="nav-link tab-pills " data-id="1" href="#">Ballot</a>
                                        <a class="nav-link tab-pills " data-id="2" href="#">Notice</a>
                                        <a class="nav-link tab-pills " data-id="3" href="#">Voters</a>
                                        <a class="nav-link tab-pills " data-id="4" href="#">Review Ballot</a>
                                        <a class="nav-link tab-pills " data-id="5" href="#">Results</a>
                                    </nav>
                                </div>
                                <div class="card-body">
                                    <div class="tab d-none tab-0">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Vote Title</label>
                                            <input type="text" class="form-control" name="voteTitle" id="voteTitle"
                                                placeholder="Please enter vote title">
                                            <span class="text-danger voteTitle-error error" style="display: none;">Vote
                                                Title is required.</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Start Date and Time</label>
                                            <input type="text"
                                                class="form-control mb-3 flatpickr-no-config flatpickr-input active"
                                                placeholder="Select date.." readonly="readonly" id="startDT"
                                                name="startDT">
                                            <span class="text-danger startDT-error error" style="display: none;">Start
                                                Date and Time is required.</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">End Date and Time</label>
                                            <input type="text"
                                                class="form-control mb-3 flatpickr-no-config flatpickr-input active"
                                                placeholder="Select date.." readonly="readonly" id="endDT" name="endDT">
                                            <span class="text-danger endDT-error error" style="display: none;">End Date
                                                and Time is required.</span>
                                        </div>
                                    </div>

                                    <div class="tab d-none tab-1">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Ballot Title</label>
                                            <input type="text" class="form-control" name="ballotTitle" id="ballotTitle"
                                                placeholder="Please enter Title">
                                            <span class="text-danger ballotTitle-error error"
                                                style="display: none;">Ballot Title is required.</span>
                                        </div>


                                        <div class="mb-3">
                                            <label for="email" class="form-label">Voting Instruction</label>
                                            <textarea placeholder="Enter Ballot Instruction"
                                                class="ivu-input ivu-input-default" data-parsley-required="true"
                                                name="tBellotInstruction"
                                                id="tBellotInstruction">{{ systemEmailData.tEmailMessage }}</textarea>
                                            <span class="text-danger tBellotInstruction-error error"
                                                style="display: none;">Voting Instruction is required.</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="name" class="form-label">No of candidate</label>
                                                <input type="number" id="noCandidate" min="2" value="2"
                                                    class="form-control" />
                                            </div>
                                            <div class="col-md-2 ">
                                                <a class="btn btn-primary  noc-btn" style="margin-top: 30px;">Set</a>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="name" class="form-label">Candidate Name</label>
                                            <div class="list-of-candidate">
                                                <input type="text" class="form-control candidate-info" name="candidates"
                                                    id="candidate-0" placeholder="Please enter candidate name">
                                            </div>
                                            <div class="list-of-candidate">
                                                <input type="text" class="form-control candidate-info" name="candidates"
                                                    style="margin-top: 10px" id="candidate-1"
                                                    placeholder="Please enter candidate name">
                                            </div>
                                            <span class="text-danger voteTitle-error error" style="display: none;">All
                                                Candidate Name is required.</span>
                                        </div>

                                    </div>

                                    <div class="tab d-none tab-2">
                                        <div class="mb-3">
                                            <input type="checkbox" class="form-check-input" name="emailNotice"
                                                id="emailNotice">
                                            <label for="checkbox2">Email Notices</label>
                                        </div>

                                        <div class="mb-3">
                                            <input type="checkbox" class="form-check-input" name="smsNotice"
                                                id="smsNotice">
                                            <label for="checkbox2">SMS Notices</label>
                                        </div>

                                        <span class="text-danger notification-error error" style="display: none;">Please
                                            Select One of Notification.</span>

                                        <div class="mb-3">
                                            <label for="email" class="form-label">Notice Templates</label>
                                            <textarea placeholder="Enter Notice Templates" style="display: none;"
                                                class="ivu-input ivu-input-default" data-parsley-required="true"
                                                name="noticeTemplates"
                                                id="noticeTemplates">{{ systemEmailData.tEmailMessage }}</textarea>
                                            <span class="text-danger noticeTemplates-error error"
                                                style="display: none;">Notice Templates is required.</span>
                                        </div>

                                    </div>

                                    <div class="tab d-none tab-3">
                                        <div id="votes-list"></div>
                                        <a class="btn btn-primary cand-validate">Validate</a>
                                    </div>

                                    <div class="tab d-none tab-4">
                                        <p>All Set! Please submit to continue. Thank you</p>
                                    </div>

                                    <div class="tab d-none tab-5">
                                        <p>All Set! Please submit to continue. Thank you</p>
                                    </div>
                                </div>
                                <div class="card-footer text-end">
                                    <div class="d-flex">
                                        <button type="button" id="back_button" class="btn btn-link"
                                            onclick="back()">Back</button>
                                        <button type="button" id="next_button" class="btn btn-primary ms-auto"
                                            onclick="next()">Next</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    tinymce.init({ selector: '#default' });
    tinymce.init({ selector: '#dark', toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code', plugins: 'code' });
    tinymce.init({
        selector: '#tBellotInstruction',
        height: 200,
        menubar: false,
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });

    tinymce.init({
        selector: '#noticeTemplates',
        height: 500,
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });



    $(document).on('change', '#emailNotice', function () {
        if ($(this).prop("checked")) {
            tinyMCE.get('noticeTemplates').show();
        } else {
            tinyMCE.get('noticeTemplates').hide();
        }
    })

    $(".flatpickr-input").flatpickr({
        minDate: Date.now(),
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });

    $(document).on('click', '.noc-btn', function () {
        $('.list-of-candidate').html('');
        let val = $('#noCandidate').val();
        let div = ''
        for (let i = 0; i < val; i++) {
            div += `<input type="text" class="form-control candidate-info" name="candidates" id="candidate-${i}"
                style="margin-top: 10px"
                placeholder="Please enter candidate name">`
        }
        $('.list-of-candidate').html(div);
    })

    var current = 0;
    var tabs = $(".tab");
    var tabs_pill = $(".tab-pills");
    var topPage = 0;

    loadFormData(current);

    function loadFormData(n) {
        $(tabs_pill[n]).addClass("active");
        $(tabs[n]).removeClass("d-none");
        $("#back_button").attr("disabled", n == 0 ? true : false);
        n == tabs.length - 1
            ? $("#next_button").text("Submit").removeAttr("onclick")
            : $("#next_button")
                .attr("type", "button")
                .text("Next")
                .attr("onclick", "next()");

        for (let i = 0; i < tabs.length; i++) {
            if (topPage < i) $(tabs_pill[i]).addClass('disabled');
        }

    }

    function next() {
        let error = validation();
        console.log('error: ', error);
        if (error) {
            return;
        }

        $(tabs_pill[current]).removeClass('disabled')
        $(tabs[current]).addClass("d-none");
        $(tabs_pill[current]).removeClass("active");

        current++;
        topPage = current;
        loadFormData(current);
    }

    function back() {
        $(tabs[current]).addClass("d-none");
        $(tabs_pill[current]).removeClass("active");

        current--;
        loadFormData(current);
    }

    $(document).on('click', '.tab-pills', function () {
        let id = $(this).data('id');
        breadcrumb(id)
    })

    function breadcrumb(n) {
        $(tabs[current]).addClass("d-none");
        $(tabs_pill[current]).removeClass("active");
        current = n;
        loadFormData(n)
    }

    function validation() {
        let error = false;
        $('.error').hide()

        if (current === 0) {
            let voteTitle = $('#voteTitle').val().trim();
            if (!voteTitle) {
                $('.voteTitle-error').show();
                error = true;
            }

            let startDT = $('#startDT').val();
            if (!startDT) {
                $('.startDT-error').show();
                error = true;
            }

            let endDT = $('#endDT').val();
            if (!endDT) {
                $('.endDT-error').show();
                error = true;
            }
        }

        if (current === 1) {
            let ballotTitle = $('#ballotTitle').val().trim();
            if (!ballotTitle) {
                $('.ballotTitle-error').show();
                error = true;
            }

            let tBellotInstruction = tinyMCE.get('tBellotInstruction').getContent();
            if (!tBellotInstruction) {
                $('.tBellotInstruction-error').show();
                error = true;
            }

            let noCandidate = $('#noCandidate').val();
            let arrOfCandidate = [];
            for (let i = 0; i < noCandidate; i++) {
                let val = $(`#candidate-${i}`).val();
                val = val.trim();
                if (!val) {
                    $('.voteTitle-error').show();
                    return error = true;
                }
                arrOfCandidate.push(val);
            }


        }

        if (current === 2) {
            if (!$('#emailNotice').prop("checked") && !$('#smsNotice').prop("checked")) {
                $('.notification-error').show();
                error = true;
            }

            let noticeTemplates = tinyMCE.get('noticeTemplates').getContent();
            if (!noticeTemplates && $('#emailNotice').prop("checked")) {
                $('.noticeTemplates-error').show();
                error = true;
            }
        }

        if (current === 3) {
            let data = hot.getSourceData();
        }

        return error
    }

    $('#startDT').on('change', function () {
        let minDT = moment();
        moment = moment($(this).val())
        let minVal = moment.add(1, "hour").format("YYYY-MM-DD HH:mm").split(' ');

        $('#endDT').flatpickr({
            enableTime: true,
            minDate: minVal[0],
            minTime: minVal[1],
            dateFormat: "Y-m-d H:i",
        })
    });

    const customValidator = (value, callback) => {
        const columnData = hot.getDataAtCol(0);
        if (value === '') {
            validation = false
            callback(false)
            return;
        }
        const duplicateValues = columnData.filter((val, index) => {
            return columnData.indexOf(val) !== index;
        });

        if (duplicateValues.includes(value)) {
            validation = false
            callback(false);
        } else {
            validation = true
            callback(true);
        }
    }

    const customEmailValidator = (value, callback) => {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (value !== '' && emailRegex.test(value)) {
            validation = true
            callback(true)
        } else {
            validation = false
            callback(false)
        }
    }

    const customPhoneValidator = (value, callback) => {
        const phoneRegex = /^[0-9]{10}$/;
        if (value !== '' && phoneRegex.test(value)) {
            validation = true
            callback(true)
        } else {
            validation = false
            callback(false)
        }
    }

    const container = document.querySelector('#votes-list');
    const hot = new Handsontable(container, {
        colWidths: 400,
        rowHeaders: true,
        colHeaders: ['Id', 'Email', 'Phone'],
        height: 'auto',
        contextMenu: true,
        licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
        columns: [{
            data: "Index",
            validator: customValidator
        }, {
            data: "Email",
            validator: customEmailValidator
        }, {
            data: "Phone",
            validator: customPhoneValidator
        }],
        afterChange: (changes) => {
            if (changes) {
                hot.updateSettings({
                    columns: [{
                        data: "Index",
                        validator: null
                    }, {
                        data: "Email",
                        validator: null
                    }, {
                        data: "Phone",
                        validator: null
                    }]
                })
            }
        }
    });

    $(document).on('click', '.cand-validate', function () {
        hot.updateSettings({
            columns: [{
                data: "Index",
                validator: customValidator
            }, {
                data: "Email",
                validator: customEmailValidator
            }, {
                data: "Phone",
                validator: customPhoneValidator
            }]
        })

        hot.validateCells()
    });

    $.ajax({
        url: "/election/get-data",
        type: "GET",
        success: function (response) {
            let res = response.data;
            let data = []
            for (let i = 0; i < res.length; i++) {
                data.push(res[i].voters)
            }
            hot.loadData(data);
        },
        error: function (error) {
            console.log("error", error);
            notification_error("Something went wrong!")
            setTimeout(() => {
                window.location = '/election'
            }, 2000)
        }
    });








</script>