<div class="row match-height">
    <div class="col-12 mt-10">
        <div class="card">
            <div class="card-header">
                {{#if_equal action 'edit'}}
                    <h4 class="card-title">Edit Organization Details</h4>
                {{/if_equal}}
                 {{#if_equal action 'add'}}
                    <h4 class="card-title">Add Organization</h4>
                {{/if_equal}}

            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form" method="post" action="/organizations/add-action" data-parsley-validate>
                        <input type="hidden" name="iOrganizationId" id="iOrganizationId" value="{{organizationData._id}}">
                        <input type="hidden" name="action" id="action" value="{{action}}">

                        <div class="row">
                            <div class="col-md-6  col-12">
                                <div class="form-group">
                                    <label for="organization-name-column">Organization Name</label>
                                    <input type="text" id="first-name-column" class="form-control"
                                        placeholder="Organization Name" value="{{organizationData.organization_details.o_name}}" name="o_name"
                                        data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="organization-location-column">Organization Location</label>
                                    <input type="text" id="organization-location-column" class="form-control"
                                        value="{{organizationData.organization_details.o_location}}" placeholder="Organization Location" name="o_location"
                                        data-parsley-required="true">
                                </div>
                            </div>

                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="organization-industry-column">Organization Industry</label>
                                    <input type="text" id="organization-industry-column" class="form-control"
                                        value="{{organizationData.organization_details.o_industry}}" placeholder="Organization Industry" name="o_industry"
                                        data-parsley-required="true">
                                </div>
                            </div>

                           <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="size">Membership Size</label>
                                    <select class="form-select form-select mb-3" name="o_membersize"
                                        aria-label=".form-select-lg example">
                                        {{#if_equal action 'add'}}<option value="">Select</option>{{/if_equal}}
                                        <option value="1-20" {{#if_equal organizationData.organization_details.o_membersize '1-20' }} selected {{/if_equal}}>1-20</option>
                                        <option value="21-75" {{#if_equal organizationData.organization_details.o_membersize '21-75' }} selected {{/if_equal}}>21-75</option>
                                        <option value="76-350" {{#if_equal organizationData.organization_details.o_membersize '76-350' }} selected {{/if_equal}}>76-350</option>
                                        <option value="351-500" {{#if_equal organizationData.organization_details.o_membersize '351-500' }} selected {{/if_equal}}>351-500</option>
                                        <option value="501-1000" {{#if_equal organizationData.organization_details.o_membersize '501-1000' }} selected {{/if_equal}}>501-1000</option>
                                        <option value="1001-2500" {{#if_equal organizationData.organization_details.o_membersize '1001-2500' }} selected {{/if_equal}}>1001-2500</option>
                                        <option value="2501-5000" {{#if_equal organizationData.organization_details.o_membersize '2501-5000' }} selected {{/if_equal}}>2501-5000</option>
                                        <option value="5001-10000" {{#if_equal organizationData.organization_details.o_membersize '5001-10000' }} selected {{/if_equal}}>5001-10000</option>
                                        <option value="10000+" {{#if_equal organizationData.organization_details.o_membersize '10000+' }} selected {{/if_equal}}>10000+</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="last-name-column">Email</label>
                                    <input type="email" id="last-name-column" class="form-control"
                                        value="{{organizationData.email}}" placeholder="Email" name="email"
                                        data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="test" id="password" class="form-control" placeholder="Password"
                                        name="password" {{#if_equal action 'add'}} data-parsley-required="true" {{/if_equal}}
                                        data-parsley-maxlength='15'>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 mt-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary me-3 mb-1">Submit</button>
                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">Cancel</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>