<div class="row match-height">
    <div class="col-12 mt-10">
        <div class="card">
            <div class="card-header">
                {{#if_equal action 'add'}}
                    <h4 class="card-title">Create Language Label</h4>
                {{/if_equal}}

                 {{#if_equal action 'edit'}}
                    <h4 class="card-title">Edit Language Label</h4>
                {{/if_equal}}
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form" method="post" action="/general-setting/lang-data-store">
                        <div class="row">
                            <div class="col-md-6  col-12">
                                 <input type="hidden" name="action" id="action" value="{{action}}">
                                 <input type="hidden" name="iLangId" id="iLangId" value="{{labelData._id}}">
                                <div class="form-group">
                                    <label for="lang-label">Label</label>
                                    <input type="text" id="lang-label" class="form-control"
                                        placeholder="Language Label" value="{{labelData.vLangLabel}}" name="vLangLabel"
                                     >
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="lang-title">Title</label>
                                    <input type="text" id="lang-title" class="form-control"
                                        value="{{labelData.vLangTitle}}" placeholder="Language Title" name="vLangTitle"
                                       >
                                </div>
                            </div>
                             <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="server-host">Status</label>
                                     <select class="form-select form-select mb-3" name="eStatus"
                                        aria-label=".form-select-lg example">
                                        <option value="Active" {{#if_equal labelData.eStatus 'Active'}} selected {{/if_equal}}>Active</option>
                                        <option value="Inactive"  {{#if_equal labelData.eStatus 'Inactive'}} selected {{/if_equal}}>Inactive</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 mt-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary me-3 mb-1">Submit</button>
                            <a href="/general-setting/language-setting" class="btn btn-secondary me-3 mb-1">Back</a>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>