<div class="row match-height">
    <div class="col-12 mt-10">
        <div class="card">
            <div class="card-header">
                {{#if_equal action 'add'}}
                    <h4 class="card-title">Add Voter</h4>
                {{/if_equal}}

                 {{#if_equal action 'edit'}}
                    <h4 class="card-title">Edit Voter Details</h4>
                {{/if_equal}}
            </div>
            <div class="card-content">
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-6  col-12">
                                <div class="form-group">
                                     <input type="hidden" name="iVoterId" id="iVoterId" value="{{voterData._id}}">
                                     <input type="hidden" name="action" id="action" value="{{action}}">
                                    <label for="admin-email">ID</label>
                                    <input type="number" id="Index" class="form-control"
                                        placeholder="Enter ID" value="{{voterData.voters.Index}}" name="voter-id" {{#if_equal action 'edit'}} disabled {{/if_equal}}
                                     >
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="Email" class="form-control"
                                        value="{{voterData.voters.Email}}" placeholder="Please enter email" name="voter-email" data-parsley-required="true"
                                       >
                                </div>
                            </div>
                             <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="voter-phone">Phone Number</label>
                                    <input type="text" id="Phone" class="form-control"
                                        value="{{voterData.voters.Phone}}" placeholder="Enter phone number" name="voter-phone" data-parsley-required="true"
                                        maxlength="10"
                                       >
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 mt-3 d-flex justify-content">
                            <button type="submit" class="btn btn-primary me-3 mb-1 submit">Submit</button>
                            <a href="/voters" type="button" class="btn btn-primary me-3 mb-1">Cancel</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).on('click', '.submit', function(e){
        let data = {
                Index: $('#Index').val(),
                Email: $('#Email').val(),
                Phone: $('#Phone').val(),
                action: $('#action').val(),
                voterId: $('#iVoterId').val()
            };

         $.ajax({
                url: "/voters/store-data",
                type: "POST",
                data: data,
                success: function (response) {
                    if(response.status == 'error'){
                        notification_error(response.message);
                    }else{
                        window.location = '/voters'
                        notification_success(response.message)
                    }
                },
                error: function (error) {
                    console.log("error");
                    notification_error("Somthing went wrong!")
                    window.location = '/voters'
                }
            });
    })
   
</script>