<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Voters</h3>
                {{!-- <p class="text-subtitle text-muted">For user to check they list</p> --}}
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">voters</li>
                    </ol>
                </nav>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md-6 order-md-2 order-last">
                <div class="alert alert-secondary"> <i class="bi bi-exclamation-triangle me-2"
                        style="font-size: 19px;"></i> CSV file should have
                    the following headers (first line in each column): Id, Email,Phone <a href="#"
                        style="color: rgb(70, 149, 234); text-decoration: underline" id="download_csv">Sample CSV</a>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <form action="/voters/save-csv" method="post" id="csvForm" enctype="multipart/form-data">
                            <input class="form-control me-2" hidden accept=".csv" type="file" name="csvFile"
                                id="formFile">
                        </form>
                        <input type="text" class="form-control rounded me-2" placeholder="Search" aria-label="Search"
                            aria-describedby="button-addon2" id="search-input">
                        <button type="" id="add-csv" class="btn me-2 rounded btn-primary"
                            onclick="document.getElementById('formFile').click();">Add CSV</button>
                        <a href="/voters/add" class="btn rounded btn-info me-2 ">Add voter</a>
                        <a href="#" class="btn rounded btn-danger" id="delete_btn">Multi delete</a>

                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Hoverable rows start -->
    <section class="section">
        <div class="row" id="table-hover-row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            <input type="checkbox"
                                                class="form-check-input form-check-primary form-check-glow"
                                                name="customCheck" id="selectall">
                                        </th>
                                        <th>Id</th>
                                        <th>Email</th>
                                        <th>Phone No.</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="table_record" class="text-center">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{!------------------------------------- Jquery Code -------------------------------------}}

    <script>
        $(document).on("change", "#formFile", function () {
            const csvFile = $("#formFile")[0].files[0];

            // Check if a file is selected
            if (!csvFile) {
                notification_error("Please Select A Csv file")
                return;
            }

            // Check file type (allow only CSV)
            if (csvFile.type !== "text/csv") {
                notification_error("Only Csv File Allowed")
                return;
            }

            // Create a new FormData object and append the file to it
            $("#csvForm").submit();

        })


        $("#selectall").click(function () {
            if (this.checked) {
                $('.checkboxall').each(function () {
                    $(".checkboxall").prop('checked', true);
                });
            } else {
                $('.checkboxall').each(function () {
                    $(".checkboxall").prop('checked', false);
                });
            }
        });

        function filter(iVoterIds, vActions, vPage) {
            // const searchInput = $("#search-input").val();
            const iVoterId = iVoterIds;
            const vAction = vActions;
            // var vPage = vPage;

            $("#table_record").html('');
            $("#table_record").html('<tr class="text-center"><td colspan="12"><img src="/assets/vendors/svg-loaders/oval.svg" class="me-4" style="width: 4rem; margin: 10px;" alt="audio"></tr></td>')

            $.ajax({
                url: "/voters/ajax_listing",
                type: "POST",
                data: {
                    iVoterId: iVoterId,
                    vAction: vAction
                },
                success: function (response) {
                    $("#table_record").html(response);
                },
                error: function (error) {
                    console.log("error");
                    notification_error("Somthing went wrong!")
                    //window.location = '/'
                }
            });
        }

        $(document).ready(function () {
            filter("", "search", "");
        });

        $(document).on('click', '#delete_btn', function () {
            let iVoterId = [];

            $("input[name='iVoterId[]']:checked").each(function () {
                iVoterId.push($(this).val());
            });

            iVoterId = iVoterId.join(",");

            if (iVoterId.length == 0) {
                alert('Please select records.')
            } else {
                const res = confirm('Are you sure to delete this record ?');
                if (res) {
                    filter(iVoterId, "multiple_delete", "");
                }
            }
        });

        $(document).on('click', '.delete', function () {
            const res = confirm('Are you sure to delete this record ?');
            if (res) {
                filter($(this).data("id"), "delete", "");
            }
        });

        $(document).on('click', '#download_csv', function () {
            let csvFileData = [
                ['1', 'admin@gmail.com', 9876543211],
                ['2', 'demo@gmail.com', 9897654321],
                ['3', 'john@gmail.com', 9787654345],
            ];
            let csv = 'Id,Email,Phone\n';

            csvFileData.forEach(function (row) {
                csv += row.join(',');
                csv += "\n";
            });
            let hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
            hiddenElement.target = '_blank';

            hiddenElement.download = 'Sample.csv';
            hiddenElement.click();
        })


    </script>