<footer class="footer">
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2023 &copy; Admin</p>
        </div>
        <div class="float-end">
            <ul class="list-unstyled d-flex">
                <li class="ms-3">About</li>
                <li style="margin-left: 20px;">Support</li>

            </ul>
        </div>
    </div>
</footer>