<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="/dashboard"><img src="/assets/images/logo/no-img.png" alt="Logo" srcset="" style="width: 100px; height: 100px;"/></a>
                </div>
               
                <div class="sidebar-toggler x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">

            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item {{#if_equal route 'dashboard'}}active{{/if_equal}} ">
                    <a href="/dashboard" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                {{#user_permisson session.eType}}
                <li class="sidebar-item  {{#if_equal route 'admin'}}active{{/if_equal}} ">
                    <a href="/admin" class='sidebar-link' id="{{session.email}}">
                        <i class="bi bi-person-circle"></i>
                        <span>Admin</span>
                    </a>
                </li>
                {{/user_permisson}}

               <li class="sidebar-item {{#if_equal route 'organizations'}}active{{/if_equal}}">
                    <a href="/organizations" class='sidebar-link'>
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                            <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                        </svg>
                        <span>Organizations</span>
                    </a>
                </li>

                 <li class="sidebar-item {{#if_equal route 'ballot'}}active{{/if_equal}}">
                    <a href="/ballot" class='sidebar-link'>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#435378" height="20" width="20" viewBox="0 0 103.09 122.88"><title>suggestion-box</title><path d="M45.19,57a1.88,1.88,0,1,1,0-3.75H52.4a1.88,1.88,0,1,1,0,3.75Zm4.24-32.24c0-3.48.12-6.42,4.49-7.49a1.75,1.75,0,0,1-.16-.69V16h-.07L54.42,12A5.61,5.61,0,0,1,58.77,9a.94.94,0,0,1,0-.25V6.54a2.58,2.58,0,0,1,0-.38c1-6.15,7.06-6.07,12-6h1.29L77.74,0h.17c4.84.23,8,2.13,11.6,4.33C92.05,5.92,99.61,7,101.45,9.61a9,9,0,0,1,1.64,5.12V33.9a5.07,5.07,0,0,1-2.46,4.53c-1.32.9-8.4,1.48-10.73,1.78a173.54,173.54,0,0,1-17.67,10.2,14.69,14.69,0,0,1-4,1.36v2.89h17.7a1.86,1.86,0,0,1,1.72,1.14l10,19.35a1.94,1.94,0,0,1,.21,1L98,121a1.87,1.87,0,0,1-1.87,1.86H1.87A1.87,1.87,0,0,1,0,121V76H0v0H0v0H0v0H0v0H0v0H0v0H0v0H0v0H0v0H0v0H0v0h0v0h0v-.06h0v0h0v0h0l0,0h0l0,0h0v0h0v0h0v0h0l0,0h0l0,0v0h0v0L10.47,55.66a1.86,1.86,0,0,1,1.65-1H29.43V36.92a2.3,2.3,0,0,1,2.32-2.32h6a7.06,7.06,0,0,1,1.59-6.48c4.47-5.15,10-1.84,10.07-3.33Zm15,27c-5.64-1.11-8.13-7.2-3.38-11.72H46.58a10.49,10.49,0,0,1-6.14-1.69H33.17V64.27H64.45V51.75ZM87.9,37.38a1.57,1.57,0,0,1,.75-.28c2-.25,8.77-.68,9.72-1.31a2,2,0,0,0,1-1.81V14.85a5.87,5.87,0,0,0-1.07-3.31C97,9.63,89.37,8.4,87.39,7.2c-7.86-4.79-7.73-3.58-16.08-3.74-3.66,0-8.18-.1-8.74,3.25V8.87c1,0,2.08.08,3.09.13s1.77.12,2.61.12a1.61,1.61,0,0,1,0,3.22c-.85,0-1.81-.06-2.82-.12-3.45-.22-7.39-.47-7.89,2.27v2.15a2,2,0,0,1,0,.35c1.25,0,2.53.06,3.78.14.92.06,1.77.12,2.61.11a1.62,1.62,0,0,1,0,3.23c-.84,0-1.8-.06-2.82-.12-3.45-.22-7.39-.47-7.88,2.28v2.16a2,2,0,0,1-.05.43h6.28a1.62,1.62,0,1,1,0,3.23H46.77c-3.38,0-7.17,2.16-5.36,5.74l.23.4h0l0,0h0l0,.05,0,0,0,0v0l0,0,0,.05h0l0,0,0,0,0,0v0l0,0h0l0,.05h0l.05,0h0l0,.05h0l.05.05h0l.05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0v0l0,0h0l.06,0h0l.07.05h0l.07,0h0l.06,0h0l.05,0,0,0,0,0h0l.15.09h0l.05,0h0l.07,0h0l.08,0h0l.08,0h0l.08,0h0l.07,0h0l.06,0h0l.06,0,0,0,0,0h0l0,0,.06,0h0l.07,0h0l.08,0h0l.09,0h0l.09,0h0l.09,0h0l.08,0h0l.09,0H45l.06,0h0l.07,0h0l.09,0H72.19c2.1,0,2.15,2.56,0,2.58a21.28,21.28,0,0,0-4,.52h-.07l-.05,0h0l-.07,0-.06,0h-.07l-.07,0h-.07l-.07,0h-.06l-.07,0h-.07l-.07,0h0l-.12,0-.06,0h0l0,0-.06,0-.07,0-.06,0h0l-.06,0-.07,0-.06,0h0l-.06,0-.06,0h0l-.06,0-.06,0-.06,0-.06,0-.06,0-.06,0,0,0h0l-.06,0-.06,0h0l0,0-.06,0h0l0,0-.06,0,0,0-.06,0,0,0h0l0,0h0l-.09.05h0l0,0h0l0,0,0,0h0l0,0-.06,0,0,0-.05,0,0,0h0l0,0,0,0h0l0,0-.05,0,0,0,0,0,0,0h0l0,0h0l-.09.06h0l0,0h0l0,0,0,0a5.52,5.52,0,0,0-1,1C62,44.34,62,47.08,64.45,48l.13,0h0l0,0h0l.13,0h0l0,0,.13,0H65l.09,0h.1l.1,0h.07l.14,0h.06l.16,0h1.14l.47,0h.28l.21,0h.08l.22,0h.07l.41-.08c4.49-.93,10.07-4.19,19.3-10.76Zm-58.47,21H13.25L5,74.16h88L84.76,58.4H68.19v5.87h4.13a1.87,1.87,0,0,1,0,3.74h-46a1.87,1.87,0,1,1,0-3.74h3.16V58.4ZM3.74,77.9v41.24H94.27L94.12,77.9ZM38.21,48.24a1.88,1.88,0,1,1,0-3.75H52.39a1.88,1.88,0,1,1,0,3.75Z"/></svg>
                        <span>Ballot</span>
                    </a>
                </li>

                <li class="sidebar-item {{#if_equal route 'election'}}active{{/if_equal}}">
                    <a href="/election" class='sidebar-link'>
                        <svg fill="currentcolor" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M608 320h-64v64h22.4c5.3 0 9.6 3.6 9.6 8v16c0 4.4-4.3 8-9.6 8H73.6c-5.3 0-9.6-3.6-9.6-8v-16c0-4.4 4.3-8 9.6-8H96v-64H32c-17.7 0-32 14.3-32 32v96c0 17.7 14.3 32 32 32h576c17.7 0 32-14.3 32-32v-96c0-17.7-14.3-32-32-32zm-96 64V64.3c0-17.9-14.5-32.3-32.3-32.3H160.4C142.5 32 128 46.5 128 64.3V384h384zM211.2 202l25.5-25.3c4.2-4.2 11-4.2 15.2.1l41.3 41.6 95.2-94.4c4.2-4.2 11-4.2 15.2.1l25.3 25.5c4.2 4.2 4.2 11-.1 15.2L300.5 292c-4.2 4.2-11 4.2-15.2-.1l-74.1-74.7c-4.3-4.2-4.2-11 0-15.2z"/></svg>
                        <span>Election</span>
                    </a>
                </li>

                {{!-- <li class="sidebar-item {{#if_equal route 'chat'}}active{{/if_equal}}">
                    <a href="/chat" class='sidebar-link'>
                        <i class="bi bi-chat-fill"></i>
                        <span>Chat</span>
                    </a>
                </li> --}}

                {{#user_permisson session.eType}}
                <li class="sidebar-item {{#if_equal route 'system-email'}}active{{/if_equal}} ">
                    <a href="/system-email" class='sidebar-link'>
                        <i class="bi bi-envelope-fill"></i>
                        <span>Email Application</span>
                    </a>
                </li>
                {{/user_permisson}}
                
                <li class="sidebar-item {{#if_equal route 'voters'}}active{{/if_equal}}">
                    <a href="/voters" class='sidebar-link'>
                      <i class="bi bi-people-fill"></i>
                        <span>Voters</span>
                    </a>
                </li> 

                {{#user_permisson session.eType}}
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-gear"></i>
                        <span>Setting</span>
                    </a>
                    <ul class="submenu {{#if_equal route 'general-setting'}}active{{/if_equal}} ">
                        <li class="submenu-item {{#if_equal route2 'setting'}}active{{/if_equal}} ">
                            <a href="/general-setting/setting">General Setting</a>
                        </li>
                        <li class="submenu-item {{#if_equal route2 'company-info'}}active{{/if_equal}} ">
                            <a href="/general-setting/company-info">Company Info</a>
                        </li>
                        <li class="submenu-item {{#if_equal route2 'email-setting'}}active{{/if_equal}}">
                            <a href="/general-setting/email-setting">Email Setting</a>
                        </li>
                        <li class="submenu-item {{#if_equal route2 'social-setting'}}active{{/if_equal}}">
                            <a href="/general-setting/social-setting">Social Setting</a>
                        </li>
                        <li class="submenu-item {{#if_equal route2 'language-setting'}}active{{/if_equal}}">
                            <a href="/general-setting/language-setting">Language Label</a>
                        </li>
                    </ul>
                </li>
                {{/user_permisson}}

                <li class="sidebar-item  ">
                    <a href="/logout" class='sidebar-link'>
                        <i class="bi bi-box-arrow-right" style=" -webkit-text-stroke-width: 1.5px;"></i>

                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>