{{#each adminData as |value key|}}
<tr>
    <td>
        <input type="checkbox" class="form-check-input form-check-primary form-check-glow checkboxall" name="iAdminId[]"
            id="checkboxSize2 iAdminId_{{value._id}}" value="{{value._id}}">
    </td>
    <td>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuh6JcFny3qf5q_JW-L6mAXznVP0phQz00rA&usqp=CAU"
            height="50" width="50" style="border-radius: 10px">
    </td>
    <td class="text-bold-500">{{value.username}}</td>
    <td>{{value.email}}</td>
    <td class="text-bold-500">{{value.phone}}</td>
    <td>
        {{#if_equal value.status 'Active'}}
        <span class="badge bg-success">Active</span>
        {{/if_equal}}
        {{#if_equal value.status 'Inactive'}}
        <span class="badge bg-danger">Inactive</span>
        {{/if_equal}}
    </td>
    <td>
        <a href="/admin/edit/{{value._id}}" style="color: #46484e">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16" style="height: 20px; width: 20px">
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg></a>
        &nbsp;
        <a style="color: #46484e" data-id="{{value._id}}" class="delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                viewBox="0 0 16 16" style="height: 20px; width: 20px">
                <path
                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
            </svg>
        </a>
    </td>
</tr>
{{/each}}

{{#if_count adminData}}
{{#if_pagination datalimit dataCount}}
<tr>
    <td colspan="12" align="center">
        {{{paginator.vPagination}}}
    </td>
</tr>
{{/if_pagination}}
{{else}}
<tr class="text-center">
    <td colspan="12">No Record Found</td>
</tr>
{{/if_count}}